body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
}


.col {
	float: left;
    margin-left: 60px;
}

.col h2 {
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}

.arc {
	position: relative;
    height: 200px;
    width: 200px;
}

.arc-label{
	position: absolute;
    font-size: 29px;
    text-align: center;
    line-height: 30px;
    top: 50%;
    margin-top: -15px;
    width: 81px;
    left: 50%;
    margin-left: -40px;
}


.arc .arc-mixed{
	position: absolute;
    font-size: 26px;
    text-align: center;
    line-height: 26px;
    top: 50%;
    margin-top: -27px;
    width: 128px;
    left: 50%;
    margin-left: -64px;
}

#arc1 .arc-prog{ fill: orange;}
#arc2 .arc-prog{ fill: #3fb0ac;}
#arc3 .arc-prog{ fill: #e62739;}